// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #F0FFFF;
  font-size: 14px;
  font-family: $sans-serif;
  padding: 7px;
  border: 2px solid $lightest-gray;
  width: 200px;
  z-index: 1;
  text-align: left;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  text-transform: uppercase;
  font-weight: initial;
  color: gray;
}

.gear-dropdown a {
  display: block;
  margin: 8px 20px;
}

.gear-dropdown span {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 10px;
}

.gear-dropdown .editions  {
	border-bottom: 1px solid $light-gray;
}

.editions a {
  text-decoration: none;
}

.gear-dropdown .help li {
  color: $dark-blue;
  margin: 5px 0;
}

.gear-dropdown .editions li, .gear-dropdown .help li {
  border-radius: 3px;
}

.dropdown-subtitle {
  margin: 10px 5px;
  display: block;
}
